.header {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding: 30px 10px;
    color: #ffffff;
    background-color: black;
    text-align: center;
    border-bottom: 10px solid #B30600;
    margin-bottom: 10px;
    width: 100%;
}

.logo {
    border-radius: 10px;
    height: 220px;
    width: 220px;
}
